        .reg{
		 	font-size: 0.4rem;
		 	text-align: center; 
		 	margin-top: 2rem; 
		 	border-radius: 0.9rem;
		 }
		 .regs{		 	 
		 	font-size: 0.33rem;
		 	margin: 0 0.7rem;
		 }
		 .hreg{		 	
		 	width: 1.8rem;
		 	height: 1.8rem;		  
		 }		 
		 .down{
		 	font-size: 0.33rem;
		 	margin: 0 0.3rem;		 	
		 } 
		 .text{
		 	/*去掉下划线*/
		 	text-decoration: none;
		 }